<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FamilyStory</title>
</head>
<body>
  <script>
    $(function(){
      FamilyStory.initialize();
    })
  </script>
</body>
</html>
