
  <h4 class='errors-head'>your form has <%= pluralize(@member.errors.count, "error") %>.</h4>

  <ul class='errors'>
    <% @member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

