<div class="row featurette">
  <div class="col-lg-8 col-md-offset-4 centered">
    <div class="form-group">
      <h2>join the family</h2>
      <br>
      <%= render 'members/form' %>
      <% if @member.errors.any? %>
      <%= render 'members/errors' %>
      <% end %>
    </div>
  </div>
</div>
